/*---------------------------------------------------------------------
Font
-----------------------------------------------------------------------*/
@import url('https://fonts.googleapis.com/css?family=Poppins:200,200i,300,400,500,600,700,800,900&display=swap');

/*---------------------------------------------------------------------
import Css
-----------------------------------------------------------------------*/
@import url("./dripicons.css");
@import url("./remixicon.css");
@import url("./fontawesome.css");
@import url("./line-awesome.min.css");
@import url("./ionicons.min.css");
@import url("./slick.css");
@import url("./slick-theme.css");
@import "variable.css";
@import "agora.css";
@import url('developer.css');

.texto-tipo-boton{
  text-decoration: underline;
  cursor: pointer;
}

.vue-step-wizard{
  width: 1000px!important;
}

[dir=ltr] .iq-sidebar-menu .iq-menu li:not(.active) ul li a{
  color: #ffffff!important;
}

.pagina-detalle-proceso b, .pagina-detalle-proceso p, .pagina-detalle-poliza b, .pagina-detalle-poliza p {
  color: #343a40!important;
}

.notificacion{
  padding: 15px;
  border-radius: 10px;
  background-color: rgb(213, 248, 213);
  color: green;
}

.notificacion .cerrar:hover{
  cursor: pointer;
}

.swal2-container .swal2-confirm{
  margin-right: 20px;
} 

/* SIDEBAR */
.iq-sidebar {
  background-color: #089bab !important;
  background: #089bab !important;
}
.iq-sidebar-menu .iq-menu li.active > a {
  color: #089bab !important;
}

.iq-sidebar-menu .iq-menu li.active .iq-submenu li.active > a {
  background: #666666 !important;
  color: #fff !important;
  border-radius: 0;
}
.iq-sidebar-menu .iq-menu li ul a:hover {
  color: #089bab !important;
}

.fecha-archivo-caso label{
  line-height: 20px!important;
}